<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://customer.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>customer.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>customer</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$customer</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:s4lin082lz.database.windows.net,1433;Initial Catalog=customeAxA37MhUN;User ID=kevin@s4lin082lz;Password=C@lc!720" Name="Data Source=tcp:s4lin082lz.database.windows.net,1433;Initial Catalog=customeAxA37MhUN;User Id=kevin@s4lin082lz;Password=C@lc!720" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Customers.Web.Models.ApplicationDbContext, Customers.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:s4lin082lz.database.windows.net,1433;Initial Catalog=customeAxA37MhUN;User Id=kevin@s4lin082lz;Password=C@lc!720</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>