@{
    ViewBag.Title = "Customers";
}
<div class="row">
    <div class="large-12 columns">
        <h1>List of Customers</h1>
    </div>
</div>

<div>
    <table width="100%">
        <thead>
            <tr>
                <td>
                    First Name
                </td>
                <td>
                    Last Name
                </td>
                <td>
                    Company Name
                </td>
                <td>
                </td>
                <td>
                </td>
                <td align="center">
                    <a href="#" class="small button">Create New</a>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Kevin
                </td>
                <td>
                    Berry
                </td>
                <td>
                    Improving Enterprises
                </td>
                <td align="center">
                    <a href="#">View</a>
                </td>
                <td align="center">
                    <a href="#">Edit</a>
                </td>
                <td align="center">
                    <a href="#">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>