@{
    ViewBag.Title = "Customers";
}
<div class="row">
    <div class="large-12 columns">
        <h1>List of Customers</h1>
    </div>
</div>

<div>
    <table>
        <thead>
            <tr>
                <td>
                    First Name
                </td>
                <td>
                    Last Name
                </td>
                <td>
                    Company Name
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    Create New
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Kevin
                </td>
                <td>
                    Berry
                </td>
                <td>
                    Improving Enterprises
                </td>
                <td>
                    View
                </td>
                <td>
                    Edit
                </td>
                <td>
                    Delete
                </td>
            </tr>
        </tbody>
    </table>
</div>